In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/LA.csv"
LA_df = pd.read_csv(csv_file)
LA_df.head()

,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,facility_city,facility_id,facility_state,facility_zip,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id
0,DAJ00E07B,2017-12-29T00:00:00,HABITAT COFFEE SHOP,95,A,1,ROUTINE INSPECTION,EE0000923,3708 N EAGLE ROCK BLVD,LOS ANGELES,FA0170465,CA,90065,OW0178123,GLASSELL COFFEE SHOP LLC,RESTAURANT (0-30) SEATS MODERATE RISK,1631,HABITAT COFFEE SHOP,ACTIVE,PR0160774
1,DAQOKRFZB,2017-12-29T00:00:00,REILLY'S,92,A,1,ROUTINE INSPECTION,EE0000633,100 WORLD WAY # 120,LOS ANGELES,FA0244690,CA,90045,OW0208441,"AREAS SKYVIEW LAX JV, LLC",RESTAURANT (0-30) SEATS MODERATE RISK,1631,REILLY'S,ACTIVE,PR0193026
2,DASJI4LUR,2017-12-29T00:00:00,STREET CHURROS,93,A,1,ROUTINE INSPECTION,EE0000835,6801 HOLLYWOOD BLVD # 253,LOS ANGELES,FA0224109,CA,90028,OW0228670,"STREETCHURROS, INC",RESTAURANT (0-30) SEATS LOW RISK,1630,STREET CHURROS,ACTIVE,PR0179282
3,DAWVA0CY3,2017-12-29T00:00:00,RIO GENTLEMANS CLUB,93,A,1,ROUTINE INSPECTION,EE0000958,13124 S FIGUEROA ST,LOS ANGELES,FA0046462,CA,90064,OW0011830,FIGUEROA GROUP INC,RESTAURANT (61-150) SEATS LOW RISK,1636,RIO GENTLEMANS CLUB,ACTIVE,PR0044776
4,DAKFCHD0L,2017-12-29T00:00:00,LE PAIN QUOTIDIEN,93,A,1,ROUTINE INSPECTION,EE0000629,13050 SAN VICENTE BLVD STE 114,LOS ANGELES,FA0034788,CA,90049,OW0028928,PQ SAN VICENTE INC.,RESTAURANT (61-150) SEATS HIGH RISK,1638,LE PAIN QUOTIDIEN,ACTIVE,PR0017456

In [3]:
new_LA_data_df = LA_df[['facility_name','facility_city', 'facility_state','score','activity_date' ]].copy()
new_LA_data_df.head()

,facility_name,facility_city,facility_state,score,activity_date
0,HABITAT COFFEE SHOP,LOS ANGELES,CA,95,2017-12-29T00:00:00
1,REILLY'S,LOS ANGELES,CA,92,2017-12-29T00:00:00
2,STREET CHURROS,LOS ANGELES,CA,93,2017-12-29T00:00:00
3,RIO GENTLEMANS CLUB,LOS ANGELES,CA,93,2017-12-29T00:00:00
4,LE PAIN QUOTIDIEN,LOS ANGELES,CA,93,2017-12-29T00:00:00

In [4]:
new_LA_data_df.describe()

              score
count  58872.000000
mean      93.307922
std        3.996712
min       64.000000
25%       91.000000
50%       94.000000
75%       96.000000
max      100.000000

In [5]:
new_LA_data_df=new_LA_data_df.rename(columns = {'facility_name':'business','facility_city':'city',\
                            'facility_state':'state','score':'score','activity_date':'date'})
new_LA_data_df.head()

              business         city state  score                 date
0  HABITAT COFFEE SHOP  LOS ANGELES    CA     95  2017-12-29T00:00:00
1             REILLY'S  LOS ANGELES    CA     92  2017-12-29T00:00:00
2       STREET CHURROS  LOS ANGELES    CA     93  2017-12-29T00:00:00
3  RIO GENTLEMANS CLUB  LOS ANGELES    CA     93  2017-12-29T00:00:00
4    LE PAIN QUOTIDIEN  LOS ANGELES    CA     93  2017-12-29T00:00:00

In [6]:
csv_file = "Resources/SF.csv"
SF_df = pd.read_csv(csv_file)
SF_df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
0,3790,The Clift Hotel (Spanish Suite),495 Geary St 15th Floor,San Francisco,CA,94102,37.786974,-122.411136,"{'human_address': '{""address"":"""",""city"":"""",""st...",NaN,3790_20160216,2016-02-16T00:00:00,100.0,Routine - Unscheduled,NaN,NaN,NaN
1,1249,KABABAYAN FAST FOOD,2706 MISSION St,San Francisco,CA,94110,37.753691,-122.418657,"{'human_address': '{""address"":"""",""city"":"""",""st...",1.415593e+10,1249_20160216,2016-02-16T00:00:00,83.0,Routine - Unscheduled,1249_20160216_103103,High risk food holding temperature,High Risk
2,13427,Extreme Pizza,3911 Alemany Bl.,San Francisco,CA,94132,37.711185,-122.467790,"{'human_address': '{""address"":"""",""city"":"""",""st...",1.415100e+10,13427_20160216,2016-02-16T00:00:00,96.0,Routine - Unscheduled,13427_20160216_103154,Unclean or degraded floors walls or ceilings,Low Risk
3,69115,Hahn's Hibachi,1710 Polk St,San Francisco,CA,94109,37.792577,-122.421056,"{'human_address': '{""address"":"""",""city"":"""",""st...",NaN,69115_20160216,2016-02-16T00:00:00,75.0,Routine - Unscheduled,69115_20160216_103102,Unclean hands or improper use of gloves,High Risk
4,33442,Miller's East Coast Deli,1725 Polk St,San Francisco,CA,94109,37.792784,-122.421164,"{'human_address': '{""address"":"""",""city"":"""",""st...",NaN,33442_20160216,2016-02-16T00:00:00,75.0,Routine - Unscheduled,33442_20160216_103145,Improper storage of equipment utensils or linens,Low Risk

In [7]:
new_SF_df = SF_df[["business_name", "business_city", "business_state", "inspection_score","inspection_date"]].copy()
new_SF_df.head()

,business_name,business_city,business_state,inspection_score,inspection_date
0,The Clift Hotel (Spanish Suite),San Francisco,CA,100.0,2016-02-16T00:00:00
1,KABABAYAN FAST FOOD,San Francisco,CA,83.0,2016-02-16T00:00:00
2,Extreme Pizza,San Francisco,CA,96.0,2016-02-16T00:00:00
3,Hahn's Hibachi,San Francisco,CA,75.0,2016-02-16T00:00:00
4,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00

In [8]:
new_SF_df.describe()

       inspection_score
count      39450.000000
mean          85.920127
std            8.736381
min           45.000000
25%           81.000000
50%           87.000000
75%           92.000000
max          100.000000

In [9]:
new_SF_df=new_SF_df.rename(columns = {'business_name':'business','business_city':'city',\
                            'business_state':'state','inspection_score':'score','inspection_date':'date'})
new_SF_df.head()

,business,city,state,score,date
0,The Clift Hotel (Spanish Suite),San Francisco,CA,100.0,2016-02-16T00:00:00
1,KABABAYAN FAST FOOD,San Francisco,CA,83.0,2016-02-16T00:00:00
2,Extreme Pizza,San Francisco,CA,96.0,2016-02-16T00:00:00
3,Hahn's Hibachi,San Francisco,CA,75.0,2016-02-16T00:00:00
4,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00

In [10]:
frames = [new_SF_df, new_LA_data_df]

combined_df = pd.concat(frames)

combined_df.head(100)

,business,city,state,score,date
0,The Clift Hotel (Spanish Suite),San Francisco,CA,100.0,2016-02-16T00:00:00
1,KABABAYAN FAST FOOD,San Francisco,CA,83.0,2016-02-16T00:00:00
2,Extreme Pizza,San Francisco,CA,96.0,2016-02-16T00:00:00
3,Hahn's Hibachi,San Francisco,CA,75.0,2016-02-16T00:00:00
4,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00
5,Emporor's Kitchen,San Francisco,CA,NaN,2016-02-16T00:00:00
6,KABABAYAN FAST FOOD,San Francisco,CA,83.0,2016-02-16T00:00:00
7,KABABAYAN FAST FOOD,San Francisco,CA,83.0,2016-02-16T00:00:00
8,China Express Deli,San Francisco,CA,86.0,2016-02-16T00:00:00
9,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00
10,Subway 30303,San Francisco,CA,92.0,2016-02-16T00:00:00
11,Cafe Bellini,San Francisco,CA,NaN,2016-02-16T00:00:00
12,China Express Deli,San Francisco,CA,86.0,2016-02-16T00:00:00
13,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00
14,Hahn's Hibachi,San Francisco,CA,75.0,2016-02-16T00:00:00
15,KABABAYAN FAST FOOD,San Francisco,CA,83.0,2016-02-16T00:00:00
16,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00
17,China Express Deli,San Francisco,CA,86.0,2016-02-16T00:00:00
18,Little Vietnam Cafe,San Francisco,CA,72.0,2016-02-17T00:00:00
19,Il Fornaio Gastronomia Italiana,San Francisco,CA,90.0,2016-02-16T00:00:00
20,Hahn's Hibachi,San Francisco,CA,75.0,2016-02-16T00:00:00
21,Extreme Pizza,San Francisco,CA,96.0,2016-02-16T00:00:00
22,KABABAYAN FAST FOOD,San Francisco,CA,83.0,2016-02-16T00:00:00
23,Il Fornaio Gastronomia Italiana,San Francisco,CA,90.0,2016-02-16T00:00:00
24,Little Vietnam Cafe,San Francisco,CA,72.0,2016-02-17T00:00:00
25,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00
26,THE RICHMOND,San Francisco,CA,98.0,2016-02-16T00:00:00
27,Dosa Dosa LLC (Cart #1),San Francisco,CA,NaN,2016-02-17T00:00:00
28,Miller's East Coast Deli,San Francisco,CA,75.0,2016-02-16T00:00:00
29,Little Vietnam Cafe,San Francisco,CA,72.0,2016-02-17T00:00:00
...,...,...,...,...,...
70,Carlin's Corner,San Francisco,CA,88.0,2016-02-17T00:00:00
71,The Little Chihuahua Mexican Restaurant,San Francisco,CA,92.0,2016-02-16T00:00:00
72,Lee's Sandwiches,San Francisco,CA,67.0,2016-02-17T00:00:00
73,Ma's Dim Sum & Cafe,San Francisco,CA,57.0,2016-02-16T00:00:00
74,BEN WAH RESTAURANT,San Francisco,CA,75.0,2016-02-17T00:00:00
75,Lee's Sandwiches,San Francisco,CA,67.0,2016-02-17T00:00:00
76,Burgermeister,San Francisco,CA,88.0,2016-02-19T00:00:00
77,Carlin's Corner,San Francisco,CA,88.0,2016-02-17T00:00:00
78,Las Isletas,San Francisco,CA,NaN,2016-02-20T00:00:00
79,Taqueria El Farolito #10,San Francisco,CA,74.0,2016-02-16T00:00:00
80,Kyoto Sushi,San Francisco,CA,73.0,2016-02-19T00:00:00
81,Lee's Sandwiches,San Francisco,CA,NaN,2016-02-18T00:00:00
82,BEN WAH RESTAURANT,San Francisco,CA,75.0,2016-02-17T00:00:00
83,Palm House,San Francisco,CA,90.0,2016-02-17T00:00:00
84,BEN WAH RESTAURANT,San Francisco,CA,75.0,2016-02-17T00:00:00
85,New Alternatives,San Francisco,CA,88.0,2016-02-17T00:00:00
86,Lee's Sandwiches,San Francisco,CA,67.0,2016-02-17T00:00:00
87,Ma's Dim Sum & Cafe,San Francisco,CA,57.0,2016-02-16T00:00:00
88,Lee's Sandwiches,San Francisco,CA,67.0,2016-02-17T00:00:00
89,New Alternatives,San Francisco,CA,88.0,2016-02-17T00:00:00
90,The Little Chihuahua Mexican Restaurant,San Francisco,CA,92.0,2016-02-16T00:00:00
91,PERRYS,San Francisco,CA,NaN,2016-02-17T00:00:00
92,New Alternatives,San Francisco,CA,88.0,2016-02-17T00:00:00
93,Burgermeister,San Francisco,CA,88.0,2016-02-19T00:00:00
94,Lee's Sandwiches,San Francisco,CA,67.0,2016-02-17T00:00:00
95,TAQUERIA EL BUEN SABOR,San Francisco,CA,NaN,2016-02-19T00:00:00
96,Taqueria El Farolito #10,San Francisco,CA,74.0,2016-02-16T00:00:00
97,Edible Arrangements,San Francisco,CA,94.0,2016-02-18T00:00:00
98,Taqueria El Farolito #10,San Francisco,CA,74.0,2016-02-16T00:00:00
99,Ma's Dim Sum & Cafe,San Francisco,CA,57.0,2016-02-16T00:00:00

In [11]:
combined_df.describe()

              score
count  98322.000000
mean      90.343697
std        7.300714
min       45.000000
25%       88.000000
50%       92.000000
75%       95.000000
max      100.000000

In [12]:
combined_df.isna().sum()

business        0
city            0
state           0
score       13935
date            0
dtype: int64

In [13]:
combined_df=combined_df.dropna(how='any')

In [14]:
combined_df['score'].count()

98322

In [15]:
combined_df.isna().sum()

business    0
city        0
state       0
score       0
date        0
dtype: int64

In [16]:
combined_df['date']=pd.to_datetime(combined_df['date'])

In [17]:
combined_df['date']

0       2016-02-16
1       2016-02-16
2       2016-02-16
3       2016-02-16
4       2016-02-16
6       2016-02-16
7       2016-02-16
8       2016-02-16
9       2016-02-16
10      2016-02-16
12      2016-02-16
13      2016-02-16
14      2016-02-16
15      2016-02-16
16      2016-02-16
17      2016-02-16
18      2016-02-17
19      2016-02-16
20      2016-02-16
21      2016-02-16
22      2016-02-16
23      2016-02-16
24      2016-02-17
25      2016-02-16
26      2016-02-16
28      2016-02-16
29      2016-02-17
30      2016-02-16
31      2016-02-17
32      2016-02-16
           ...
58842   2017-10-05
58843   2017-10-01
58844   2017-10-01
58845   2017-10-01
58846   2017-10-01
58847   2017-08-02
58848   2017-07-25
58849   2017-07-25
58850   2017-07-25
58851   2017-07-21
58852   2017-07-21
58853   2017-07-21
58854   2017-07-20
58855   2017-07-20
58856   2017-07-20
58857   2017-07-20
58858   2017-07-20
58859   2017-07-07
58860   2017-07-07
58861   2017-07-07
58862   2017-07-07
58863   2017-07-07
58864   2017-07-07
58865   2017-07-07
58866   2017-07-07
58867   2017-07-05
58868   2017-07-05
58869   2017-07-05
58870   2017-06-26
58871   2017-03-21
Name: date, Length: 98322, dtype: datetime64[ns]

In [23]:
rds_connection_string = "root:Kerns123@127.0.0.1/combined_db?charset=utf8"
engine = create_engine(f'mysql://{rds_connection_string}')

In [29]:
engine.table_names()

['combined_db', 'sfla']

In [27]:
combined_df.to_sql(name='sfla', con=engine, if_exists='append', index=False)

In [28]:
pd.read_sql_query('select * from sfla', con=engine).head()

                          business           city state  score       date
0  The Clift Hotel (Spanish Suite)  San Francisco    CA    100 2016-02-16
1              KABABAYAN FAST FOOD  San Francisco    CA     83 2016-02-16
2                    Extreme Pizza  San Francisco    CA     96 2016-02-16
3                   Hahn's Hibachi  San Francisco    CA     75 2016-02-16
4         Miller's East Coast Deli  San Francisco    CA     75 2016-02-16